body {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}
h2{
    font-family: 'Montserrat';
    font-size: 2rem;
    line-height: 1.5;
    font-weight: bold;
}
h3 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.5rem;
}
p{
    color: #8f8f8f;
}
/* Title */
#title {
    background-color:#DBE2EF;
}

#title-text{
    padding: 10% 10% 10% 15%;
}

.learning-image{
    width: 100%;
    height: auto;
}

.download-button{
    margin: 5% 3% 5% 0;
}

.navbar-brand{
    font-family: "Ubuntu"
    font-weight: bold;
    font-size: 2em !important;
}

/* Features */
.features-icon{
    color: #3F72AF;
    margin-bottom: 2rem;
}
.features-icon:hover{
    color: #3282B8;
}
#features{
    padding: 7% 15%;
    text-align: center;
}
.feature-box{
    padding: 5%;
}

/* Testimonials */
#testimonials {
    text-align: center;
    background-color:#DBE2EF;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* Press */
#press{
    background-color:#DBE2EF;
    text-align: center;
    padding-bottom: 3%;
}
.press-image{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
 padding: 7% 15%
}

/* Pricing */
#pricing{
    text-align:center;
    padding: 5% 0 10% 0;
}
.price-column{
    padding: 3% 2%;
}

/* CTA */
#cta {
    background-color:#DBE2EF;
    text-align: center;
    padding: 7% 3%;
}
.cta-text{
    font-size: 2rem;
    padding-bottom:2%;
    padding-top:5%;
}
.cta-button{
    margin: 10px;
}

/* Footer */
#footer{
    background-color:#DBE2EF;
    padding-bottom:10px;
    text-align: center;
}

@media (max-width: 1028px){
    #title-text{
        text-align:center;
    }
}
.footer-icon{
    padding: 10px 10px;
}
